@font-face {
    font-family: 'dokhtaroon';
    src:  url('../public/assets/fonts/car.eot?gu585w');
    src:  url('../public/assets/fonts/car.eot?gu585w#iefix') format('embedded-opentype'),
    url('../public/assets/fonts/car.ttf?gu585w') format('truetype'),
    url('../public/assets/fonts/car.woff?gu585w') format('woff'),
    url('../public/assets/fonts/car.svg?gu585w#dokhtaroon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'car' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Frame:before {
    content: "\e915";
}
.icon-like-1-1:before {
    content: "\e91e";
}
.icon-like-1-2:before {
    content: "\e930";
}
.icon-Calender-1:before {
    content: "\e900";
}
.icon-Discount-Shape-2:before {
    content: "\e901";
}
.icon-Location-Tick:before {
    content: "\e902";
}
.icon-Logout:before {
    content: "\e903";
}
.icon-Bookmark-2:before {
    content: "\e904";
}
.icon-Buy-3:before {
    content: "\e905";
}
.icon-Left-3:before {
    content: "\e906";
}
.icon-Message-26:before {
    content: "\e907";
}
.icon-Profile-Circle:before {
    content: "\e908";
}
.icon-Profile-Octagon:before {
    content: "\e909";
}
.icon-Right-3:before {
    content: "\e90a";
}
.icon-Tick:before {
    content: "\e90b";
}
.icon-Wallet:before {
    content: "\e90c";
}
.icon-Calender-11:before {
    content: "\e90d";
}
.icon-Calender-2:before {
    content: "\e90e";
}
.icon-Location-Tick1:before {
    content: "\e90f";
}
.icon-Location-Tick-1:before {
    content: "\e910";
}
.icon-arrow-down:before {
    content: "\e911";
}
.icon-arrow-right:before {
    content: "\e912";
}
.icon-arrow-up:before {
    content: "\e913";
}
.icon-discount-shape:before {
    content: "\e914";
}
.icon-link:before {
    content: "\e916";
}
.icon-login:before {
    content: "\e917";
}
.icon-smart-car:before {
    content: "\e918";
}
.icon-star:before {
    content: "\e919";
}
.icon-star-1:before {
    content: "\e91a";
}
.icon-timer:before {
    content: "\e91b";
}
.icon-undo:before {
    content: "\e91c";
}
.icon-user-edit:before {
    content: "\e91d";
}
.icon-calendar:before {
    content: "\e91f";
}
.icon-dislike:before {
    content: "\e920";
}
.icon-location-slash:before {
    content: "\e921";
}
.icon-search-normal:before {
    content: "\e922";
}
.icon-sms:before {
    content: "\e923";
}
.icon-user:before {
    content: "\e924";
}
.icon-Car:before {
    content: "\e925";
}
.icon-mdi_google:before {
    content: "\e926";
}
.icon-mdi_google-1:before {
    content: "\e927";
}
.icon-mdi_google-2:before {
    content: "\e928";
}
.icon-mdi_google-3:before {
    content: "\e929";
}
.icon-mdi_google-4:before {
    content: "\e92a";
}
.icon-mdi_google-5:before {
    content: "\e92b";
}
.icon-mdi_google-6:before {
    content: "\e92c";
}
.icon-mdi_google-7:before {
    content: "\e92d";
}
.icon-share-1:before {
    content: "\e92e";
}
.icon-Vector:before {
    content: "\e92f";
}