@font-face {
    font-family: 'dokhtaroon';
    src:  url('../public/assets/fonts/icomoon.eot?gu585w');
    src:  url('../public/assets/fonts/icomoon.eot?gu585w#iefix') format('embedded-opentype'),
    url('../public/assets/fonts/icomoon.ttf?gu585w') format('truetype'),
    url('../public/assets/fonts/icomoon.woff?gu585w') format('woff'),
    url('../public/assets/fonts/icomoon.svg?gu585w#dokhtaroon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Calender-1:before {
    content: "\e900";
}
.icon-Discount-Shape-2:before {
    content: "\e901";
}
.icon-Logout:before {
    content: "\e902";
}
.icon-Menu-Kebab:before {
    content: "\e903";
}
.icon-Bookmark-2:before {
    content: "\e904";
}
.icon-Buy-3:before {
    content: "\e905";
}
.icon-Close:before {
    content: "\e906";
}
.icon-Delete-2:before {
    content: "\e907";
}
.icon-Left-3:before {
    content: "\e908";
}
.icon-Message-26:before {
    content: "\e909";
}
.icon-Profile-Circle:before {
    content: "\e90a";
}
.icon-Profile-Octagon:before {
    content: "\e90b";
}
.icon-Right-3:before {
    content: "\e90c";
}
.icon-Tick:before {
    content: "\e90d";
}
.icon-Calender-11:before {
    content: "\e90e";
}
.icon-Calender-2:before {
    content: "\e90f";
}
.icon-Location-Tick:before {
    content: "\e910";
}
.icon-Location-Tick-1:before {
    content: "\e911";
}
.icon-arrow-down:before {
    content: "\e912";
}
.icon-arrow-right:before {
    content: "\e913";
}
.icon-arrow-up:before {
    content: "\e914";
}
.icon-close-circle:before {
    content: "\e915";
}
.icon-discount-shape:before {
    content: "\e916";
}
.icon-edit-2:before {
    content: "\e917";
}
.icon-heart:before {
    content: "\e918";
}
.icon-home:before {
    content: "\e919";
}
.icon-like:before {
    content: "\e91a";
}
.icon-link:before {
    content: "\e91b";
}
.icon-link-1:before {
    content: "\e91c";
}
.icon-login:before {
    content: "\e91d";
}
.icon-menu:before {
    content: "\e91e";
}
.icon-smart-car:before {
    content: "\e91f";
}
.icon-star:before {
    content: "\e920";
}
.icon-star-1:before {
    content: "\e921";
}
.icon-timer:before {
    content: "\e922";
}
.icon-undo:before {
    content: "\e923";
}
.icon-user-edit:before {
    content: "\e924";
}
.icon-calendar:before {
    content: "\e925";
}
.icon-call-calling:before {
    content: "\e926";
}
.icon-dislike:before {
    content: "\e927";
}
.icon-location-slash:before {
    content: "\e928";
}
.icon-messages-2:before {
    content: "\e929";
}
.icon-messages-2-1:before {
    content: "\e92a";
}
.icon-search-normal:before {
    content: "\e92b";
}
.icon-sms:before {
    content: "\e92c";
}
.icon-truck-tick:before {
    content: "\e92d";
}
.icon-user:before {
    content: "\e92e";
}
.icon-Car:before {
    content: "\e92f";
}
.icon-Frame-48102369:before {
    content: "\e931";
}
.icon-Frame:before {
    content: "\e932";
}
.icon-Group:before {
    content: "\e933";
}
.icon-Icons:before {
    content: "\e934";
}
.icon-Icons-1:before {
    content: "\e935";
}
.icon-like-1-2:before {
    content: "\e936";
}
.icon-mdi_google:before {
    content: "\e937";
}
.icon-mdi_google-1:before {
    content: "\e938";
}
.icon-mdi_google-2:before {
    content: "\e939";
}
.icon-mdi_google-3:before {
    content: "\e93a";
}
.icon-mdi_google-4:before {
    content: "\e93b";
}
.icon-mdi_google-5:before {
    content: "\e93c";
}
.icon-mdi_google-6:before {
    content: "\e93d";
}
.icon-share-1:before {
    content: "\e93e";
}
.icon-Vector-Stroke:before {
    content: "\e93f";
}
.icon-Vector:before {
    content: "\e940";
}